# Documentation: https://eslint.org/docs/user-guide/configuring/ignoring-code

# Node.js
**/node_modules/
/js/

# Tools
/tools/

# Generated language files
src/*/translation_alternates.ts
src/*/psalm_cb.ts

# Spec files (for now)
src/*/spec.ts
