# Documentation: https://git-scm.com/docs/gitignore

# General rules
.*

# Dot-files to not ignore
!.editorconfig
!.eslintrc.js
!.github
!.gitignore
!.npmrc
!.prettierrc.json

# Node.js
**/node_modules/
/js/
